/*GLOBAL*/
body{
    font-family:Verdana,sans-serif;
    background:url('../img/naslovnica_pozadina.png') repeat;
    background-color: #edf5e7;
}
.center-text{
    text-align: center;
}

.text-small{
    font-size:14px;
}

.text-medium{
    font-size:18px!important;
}

.text-large{
    font-size:24px;
}

.hover-opacity:hover{
    opacity:0.60
}

/*page.home.template.html*/
#showcase{
    color:#000;
    background-color:#f3fffe;
    padding: 30px 0 30px 0;
}

#showcase span{
    color: gold;
}
#showcase p{
    font-size:15px;
    padding-top: 10px;
}
#showcase h3{
    font-size:20px;
    margin-bottom:30px;
}
.center-content{
    margin: 0 auto;
}
.width-50{
    width: 50%;
}

#basket{
    font-size: 50px;
    width: 20%;
    float: left;
   margin-right: 15px;
}

#basket:hover{
    color: gold;
}

#main-title{
    font-size: 10px;
}

/*categories*/
#categories{
    margin: 0 auto;
    background: white;
    padding: 15px 15px 250px 15px;
}

#categories h3, #home-ads h3{
    margin-bottom: 50px;
}

.category-box{
    float: left;
    margin: 0 5px 0 5px;
    width: 24%;
    height: 150px;

}

.category-box h4{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-family: Verdana;
    margin-top: 50px;
    color: gold;
    letter-spacing: 3px;
}
.category-box p{
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: bold;
    width: 90%;
    color: white;
}

.center-background{
    background-position: center center;
    background-size:cover;
}

/*ad list*/
#home-ads{
      margin: 0 auto;
      background: #e1e3d0;
      padding: 15px 15px 15px 15px;
  }

#advertisements{
    padding: 5px 10px 5px 10px;
}

#advertisement_item{
    padding: 0px 5px 2px 5px;
    height: 250px;
    margin-bottom: 6px;
    border: 1px solid lightgray;
    background: #f3fffe;
}

#advertisement_item h4{
    letter-spacing: 4px;
    font-size: 22px;
}

#advertisement_item i{
    margin-top: 15px;
}

.delete-btn, .sold-btn, .favorite-btn{
    width:150px;
    margin: 10px 0px 0px 0px;
    color: white;
}

.ad-btn{
    width: 200px;
    float: left;
}

#ad-image{
    width: 20%;
    height: 100%;
    float: left;
    margin-right: 5%;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.width-50 {
    width:50%;
}
#width-20-blue{
    width: 20%;
    color: blue;
}


#ad-data-infos{
    width: 60%;
    height: 200px;
    margin: 0 auto;
    float: left;
    text-align: center;
    vertical-align: center;
    font-size: 12px;
    line-height: normal;
}
#ad-data-price{
    width: 15%;
    float: left;
    font-weight: bold;
    margin: 0 auto;
}

#ad-data-all img{
    max-width: 100%;
    max-height: 100%;
}




/*page.login.template.html & page.register.template.html*/
.container_auth{
    height: 100%;
    margin:20px auto;
    width:70%;
}

.container_auth h3{
    padding-left: 10px;
    margin: 0;
}
.container_auth div{
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 0;
    margin: 10px;
}
.container_auth div form{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid lightgray;
    width: 60%;
    float: left;
}

.container_auth div form fieldset input, .container_auth div form fieldset select{
    width: 70%;
    height: 35px;
}
#login_msg, #register_msg{
    width: 60%;
    padding: 10px;
    margin-left: 0;
}
.container_auth div aside{
    width: 40%;
    float: left;
}
.container_auth div aside h5{
    width: 90%;
    font-size: 18px;
    margin: 50px auto;
}

.container_auth div aside p{
    width: 90%;
    font-size: 14px;
    margin: 50px auto;
}

.container_auth button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}


/*account page*/

/* Style the tab */
#account-tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
#account-tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
#account-tabs button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
#account_info_table{
    margin: 10px 0 10px 0;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 2px;
}
#account_info_table p{
    margin: 0;
    padding: 5px;

}

#account-tabs button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: inline-block;
    padding: 6px 12px;
    border-top: none;
}

/*category*/
filter{
    margin: 0 0.5% 0 0.5%;
    width: 24%;
    float: left;
}

#ad-list-category{
    width: 70%;
    float: left;
}


/*brandList.template.html*/
#brand_list{
    border: 1px solid lightgray;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 8px;
}
#brand_list_intro_text{
    padding: 5px;
    border: 1px solid lightgray;
    background: lavender;
}
.brand_list_section {
    float: left;
    width: 10%;
}
.brand_list_item{
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    color: blue;
}

/*filterCars.template.html*/
#filter_form{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f7fffe;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 8px;
    border: 1px solid lightgray;
}

#filter_form h3{
    background-color: lavender;
    text-align: center;
    margin: 0px 0px 5px 0px;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

#filter_form fieldset{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
#filter_form select{
    width: 20%;
    margin-left: 15%;
    margin-right: 15%;
    height: 35px;
}
#filter_form fieldset label{
    width: 100%;
    text-align: center;
}

#filter_form input, #filter_form select{
    float: left;
    width: 40%;
    margin-left: 1.6%;
    margin-right: 1.6%;
}
#full_width{
    width: 80%;
}
#filter_form p{
    float: left;
    width: 10%;
    margin-left: 1.6%;
    margin-right: 1.6%;
}
#filter_form button{
    width: 100%;
}

#full_width{
    width: 80%;
}

/*counters*/
#ad-number-div{
    width: 40%;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    text-align: left;
}
#ad-brand_div{
    width: 60%;
    float: left;
    text-align: right;
    padding-top: 5px;
    font-size: 17px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-left: 1px solid lightgray;
}
#ad-number{
    background: lavender;
}



/*page.advertisement.template.html*/
#container_advertisement{
    height: 100%;
    margin:20px auto;
    width:90%;
}

#advertisement_intro_text{
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}

#advertisement_intro_text p{
    font-size: 15px;
}

#container_advertisement form #newAdForm_type select{
    width: 30%;
    height: 35px;
}

#form_table{
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.intro_text {
    margin: 10px 0 0 5px;
    font-size: 15px;
    border-bottom: 1px solid lightgray;
}


#tractor_equipment_section div{
    float: left;
    margin-left: 5px;
}

.equipment_section h4{
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: lavender;
}
.new_ad_section h3{
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: lavender;
}



.data_row{
    margin: 0;
    padding: 0;
}
.new_ad_section fieldset{
    width: 25%;
    float: left;
    padding: 0;
    margin: 0 4.16% 30px 4.16% ;
    text-align: center;
}


.data_row_location_fieldsets{
    width: 35%;
    float: left;
    padding: 0;
    margin: 0 7.5% 30px 4.16%;
    text-align: center;
}


.new_ad_section fieldset select, .new_ad_section fieldset input{
    width: 80%;
    height: 35px;
    border: 1px solid gold;
}

.equipment_section{
    margin-top: -20px;
    text-align: center;
    width: 33.3333%;
    float: left;
}
























/*contact form*/
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}


#contact-us form fieldset {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}


.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

#contact-us form fieldset input,#contact-us form fieldset textarea {
    width: 100%;
    padding: 10px;
    outline: none;
}

#contact-us form fieldset input:focus, #contact-us form fieldset textarea:focus{
    border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}


#contact{
    background: white;
    padding: 15px 15px 15px 15px;
}

#contact h3, #contact-us h3{
    margin-bottom: 50px;
}

#contact-us h3{
    margin-top: 30px;
}

#contact-us{
    width: 50%;
}

/*footer*/
footer{
    color:#000;
    background-color:#f1f1f1;
    padding: 60px 0 60px 0;
    font-size: 24px;
    margin-top: 0;
}

/*page.detail*/

/*title, date, adId, status*/
#detail-ad-main-info-price{
    width: 40%;
    float: left;
}
#detail-ad-main-aside{
    width: 59%;
    float: right;
    text-align: right;
}

#detail-ad-status{
    background-color: #dddddd;
    padding: 5px 0 5px 0;
    text-align: center;
    border-radius: 5px;
}

.favorite-active{
    background-color: yellow;
}

#container-detail #detail-ad-main{
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 10px 10px 5px;
}


#detail-ad-data-table-other{
    display: flex;
}


#detail-ad-data-table{
    flex: 1;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 5px 10px 5px;
}
#detail-ad-data-other{
    flex: 1;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 5px 10px 5px;
}

#detail-ad-data-image{
    width: 90%;
    margin: 0 auto;
}

#detail-ad-data-image img{
    border: 1px solid lightblue;
    border-radius: 2px;
}

#detail-ad-data-contact{
    margin-top: 30px;
    padding: 0 2px 0 5px;
}


#detail-ad-data-equipment-desc{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 5px 10px 5px;
}

#detail-ad-data-equipment{
    width: 100%;
    padding: 10px;
    margin: 10px 5px 10px 5px;
}
#detail-ad-data-equipment div{
    width: 33%;
    float: left;
}

/**
#container-detail #detail-ad-data-main{
    width: 58%;
    float: left;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 5px 10px 5px;
}

#container-detail #detail-ad-data-other{
    width: 38%;
    float: left;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 5px 10px 5px;
}

*/



table {
    font-family: arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightblue;
}