<div id="container-detail" ng-if="!c.errorText">
    <section id="detail-ad-main">
        <h3>{{c.advertisement.title}}</h3>
        <div id="detail-ad-main-info">
            <p id="detail-ad-main-info-price"><label>Cijena:</label> {{c.advertisement.price}} kn</p>
            <div id="detail-ad-main-aside">
                <p><label>Šifra oglasa:</label> {{c.advertisement._id}}</p>
                <p><label>Objavljen:</label> {{c.advertisement.date}}</p>
            </div>
        </div>
        <br style="clear: both;">
        <div id="detail-ad-status" ng-if="c.advertisement.status==='prodan'"><i class="fa fa-info" aria-hidden="true"></i>
            Ovaj oglas je prodan</div>
    </section>
    <div id="ad-detail-data">
        <div id="detail-ad-data-table-other">
            <div id="detail-ad-data-table">
                <table>
                    <tr>
                        <td>Brand</td>
                        <td>{{c.advertisement.brand}}</td>
                    </tr>
                    <tr>
                        <td>Model</td>
                        <td>{{c.advertisement.model}}</td>
                    </tr>
                    <tr ng-if="c.advertisement.year">
                        <td>Godina proizvodnje</td>
                        <td>{{c.advertisement.year}} godina</td>
                    </tr>
                    <tr ng-if="c.advertisement.traficYear">
                        <td>U prometu od</td>
                        <td>{{c.advertisement.traficYear}} godina</td>
                    </tr>
                    <tr ng-if="c.advertisement.firstRegistration">
                        <td>Prva registracija u RH</td>
                        <td>{{c.advertisement.firstRegistration}} godina</td>
                    </tr>
                    <tr ng-if="c.advertisement.shiftType">
                        <td>Tip mjenjača</td>
                        <td>{{c.advertisement.shiftType}}</td>
                    </tr>
                    <tr ng-if="c.advertisement.fuelType">
                        <td>Tip motora</td>
                        <td>{{c.advertisement.fuelType}}</td>
                    </tr>
                    <tr ng-if="c.advertisement.cylindersVolume">
                        <td>Radni obujam</td>
                        <td>{{c.advertisement.cylindersVolume}} cm&sup3;</td>
                    </tr>
                    <tr ng-if="c.advertisement.power">
                        <td>Snaga motora</td>
                        <td>{{c.advertisement.power}} kW</td>
                    </tr>
                    <tr ng-if="c.advertisement.km">
                        <td>Prijeđeni kilometri</td>
                        <td>{{c.advertisement.km}} km</td>
                    </tr>
                    <tr ng-if="c.advertisement.wh">
                        <td>Radni sati</td>
                        <td>{{c.advertisement.km}} radnih sati</td>
                    </tr>
                    <tr ng-if="c.advertisement.fuelConsumption && c.advertisement.type=='Automobili'">
                        <td>Potrošnja</td>
                        <td>{{c.advertisement.fuelConsumption}} l/100km</td>
                    </tr>
                    <tr ng-if="c.advertisement.emisionCO2 && c.advertisement.type=='Automobili'">
                        <td>Maksimalna emisija CO&sup2;</td>
                        <td>{{c.advertisement.emisionCO2}} g/kg</td>
                    </tr>
                    <tr ng-if="c.advertisement.emissionCategory && c.advertisement.type=='Automobili'">
                        <td>Ekološka kategorija motora</td>
                        <td>{{c.advertisement.emissionCategory}}</td>
                    </tr>
                    <tr ng-if="c.advertisement.fuelConsumption && c.advertisement.type=='Automobili'">
                        <td>Potrošnja</td>
                        <td>{{c.advertisement.fuelConsumption}} l/100km</td>
                    </tr>
                    <tr ng-if="c.advertisement.serviceBook && c.advertisement.type=='Automobili'">
                        <td>Servisna knjiga</td>
                        <td>DA</td>
                    </tr>
                    <tr ng-if="!c.advertisement.serviceBook && c.advertisement.type=='Automobili'">
                        <td>Servisna knjiga</td>
                        <td>NE</td>
                    </tr>
                    <tr ng-if="c.advertisement.garaged && c.advertisement.type=='Automobili'">
                        <td>Garažiran</td>
                        <td>DA</td>
                    </tr>
                    <tr ng-if="!c.advertisement.garaged && c.advertisement.type=='Automobili'">
                        <td>Garažiran</td>
                        <td>NE</td>
                    </tr>
                    <tr ng-if="c.advertisement.door">
                        <td>Broj vrata</td>
                        <td>{{c.advertisement.door}}</td>
                    </tr>
                    <tr ng-if="c.advertisement.driveType">
                        <td>Pogon</td>
                        <td>{{c.advertisement.driveType}}</td>
                    </tr>
                    <tr ng-if="c.advertisement.speed">
                        <td>Maksimalna brzina</td>
                        <td>{{c.advertisement.speed}} km/h</td>
                    </tr>
                    <tr ng-if="c.advertisement.color">
                        <td>Boja</td>
                        <td>{{c.advertisement.color}}</td>
                    </tr>
                    <tr ng-if="c.advertisement.registration">
                        <td>Istek registracije</td>
                        <td>{{c.advertisement.registration}}</td>
                    </tr>
                    <tr ng-if="c.advertisement.owner">
                        <td>Broj vlasnika</td>
                        <td>{{c.advertisement.owner}}</td>
                    </tr>
                    <tr ng-if="c.advertisement.vinNumber">
                        <td>Broj šasije</td>
                        <td>{{c.advertisement.vinNumber}}</td>
                    </tr>
                    <tr ng-if="c.advertisement.screen">
                        <td>Veličina zaslona</td>
                        <td>{{c.advertisement.screen}}"</td>
                    </tr>
                    <tr ng-if="c.advertisement.ram">
                        <td>RAM memorija</td>
                        <td>{{c.advertisement.ram}} GB</td>
                    </tr>
                    <tr ng-if="c.advertisement.hd">
                        <td>Memorija uređaja</td>
                        <td>{{c.advertisement.hd}} GB</td>
                    </tr>
                    <tr ng-if="c.advertisement.hd">
                        <td>Memorija uređaja</td>
                        <td>{{c.advertisement.hd}} GB</td>
                    </tr>
                    <tr ng-if="c.advertisement.ssd">
                        <td>SSD memorija</td>
                        <td>{{c.advertisement.ssd}} GB</td>
                    </tr>
                    <tr ng-if="c.advertisement.procesor">
                        <td>Procesor</td>
                        <td>{{c.advertisement.procesor}}</td>
                    </tr>
                    <tr ng-if="c.advertisement.graphic">
                        <td>Grafika</td>
                        <td>{{c.advertisement.graphic}}</td>
                    </tr>
                </table>
            </div>
            <section id="detail-ad-data-other">
                <div id="detail-ad-data-image">
                    <img style="height: 250px;" ng-src="{{c.advertisement.image}}"/>
                </div>
                <div  id="detail-ad-data-contact">
                    <p><i class="fa fa-user" aria-hidden="true"></i>
                        <label>Prodavač:</label> {{c.owner.username}}</p>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                        <label>Lokacija:</label> {{c.advertisement.location.city}}, {{c.advertisement.location.county}}</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i>
                        <label>Kontakt:</label> {{c.advertisement.contact}}</p>
                </div>
            </section>
        </div>
        <div id="detail-ad-data-equipment-desc">
            <div id="detail-ad-data-equipment">
                <div ng-if="c.advertisement.type=='Automobili' && c.advertisement.extraEquipmentList.length!=0">
                    <label>Oprema:</label>
                    <ul>
                        <li ng-repeat="extraEquipment in c.advertisement.extraEquipmentList">{{extraEquipment}}</li>
                    </ul>
                </div>
                <div ng-if="c.advertisement.type=='Automobili' && c.advertisement.safetyEquipmentList.length!=0">
                    <label>Sigurnost:</label>
                    <ul>
                        <li ng-repeat="safeEquipment in c.advertisement.safetyEquipmentList">{{safeEquipment}}</li>
                    </ul>
                </div>
                <div ng-if="c.advertisement.type=='Automobili' && c.advertisement.comfortEquipmentList.length!=0">
                    <label>Udobnost:</label>
                    <ul>
                        <li ng-repeat="comfortEquipment in c.advertisement.comfortEquipmentList">{{comfortEquipment}}</li>
                    </ul>
                </div>
                <div ng-if="c.advertisement.type=='Traktori' && c.advertisement.eqipmentList.length!=0">
                    <label>Oprema:</label>
                    <ul>
                        <li ng-repeat="equipment in c.advertisement.eqipmentList">{{equipment}}</li>
                    </ul>
                </div>
            </div>
            <div id="detail-ad-data-description">
                <label>Opis:</label>
                <p>{{c.advertisement.desc}}</p>
            </div>
        </div>
    </div>
</div>
<div ng-if="c.errorText">{{c.errorText}}</div>