<div id="container_account">
    <div id="account_info_table">
        <p><label>Korisnik: </label> {{c.user.firstname}} {{c.user.lastname}}</p>
        <p><label>Korisničko ime: </label> {{c.user.username}}</p>
        <p ng-if="c.user.contact"><label>Kontakt: </label> {{c.user.contact}}</p>
        <p ng-if="c.user.location"><label>Lokacija: </label> {{c.user.location.city}}, {{c.user.location.county}}</p>
    </div>

    <section id="account-ads">
        <h3>Vaši oglasi</h3>
        <div id="account-tabs">
            <button class="tablinks" id="activeBtn" ng-click="c.openTab($event, 'active', 'aktivan')">Aktivni oglasi</button>
            <button class="tablinks" ng-click="c.openTab($event, 'sold', 'prodan')">Prodani oglasi</button>
            <button class="tablinks" ng-click="c.openTab($event, 'favorited', 'favorited')">Omiljeni oglasi</button>
        </div>
    </section>

    <section id="active" class="tabcontent" ng-if="c.selectedTab==='active'">
        <ad-list results='false' filter="c.activeFilter" title="Aktivni oglasi" empty="Nemate aktivnih oglasa"></ad-list>
    </section>
    <section id="sold" class="tabcontent" ng-if="c.selectedTab==='sold'">
        <ad-list results='false' filter="c.soldFilter" title="Prodani oglasi" empty="Nemate prodanih oglasa"></ad-list>
    </section>
    <section id="favorited" class="tabcontent" ng-if="c.selectedTab==='favorited'">
        <ad-list results='false' filter="c.favoritedFilter" title="Omiljeni oglasi" empty="Nemate omiljenih oglasa"></ad-list>
    </section>
</div>

