<div class="container_auth">
    <h3>Registracija</h3>

    <div>
        <form name="userForm" ng-submit="c.submitRegisterForm()" novalidate>

            <fieldset class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                <label>Ime*</label>
                <input type="text" name="firstname" class="form-control" ng-model="c.user.firstname" required>
                <p ng-show="userForm.firstname.$invalid && !userForm.firstname.$pristine" class="help-block">Ime je obvezno</p>
            </fieldset>

            <fieldset class="form-group" ng-class="{ 'has-error' : userForm.Lastname.$invalid && !userForm.Lastname.$pristine }">
                <label>Prezime*</label>
                <input type="text" name="Lastname" class="form-control" ng-model="c.user.lastname" required>
                <p ng-show="userForm.Lastname.$invalid && !userForm.Lastname.$pristine" class="help-block">Prezime je obvezno</p>
            </fieldset>

            <fieldset class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                <label>Korisničko ime*</label>
                <input type="text" name="username" class="form-control" ng-model="c.user.username" ng-minlength="3" ng-maxlength="15" required>
                <p ng-show="userForm.username.$error.required && !userForm.username.$pristine" class="help-block">Korisičko ime je obvezno</p>
                <p ng-show="(userForm.username.$error.minlength || userForm.username.$error.maxlength) && !userForm.username.$error.required && !userForm.username.$pristine" class="help-block">Korisničko ime mora imati između 3 i 15 znakova</p>

            </fieldset>

            <fieldset class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                <label>Lozinka*</label>
                <input type="password" name="password" class="form-control" ng-model="c.user.password" required minlength="6" maxlength="15">
                <p ng-show="userForm.password.$error.required && !userForm.password.$pristine" class="help-block">Lozinka je obvezna</p>
                <p ng-show="(userForm.password.$error.minlength || userForm.password.$error.maxlength )  && !userForm.password.$error.required && !userForm.password.$pristine"
                   class="help-block">Lozinka mora imati između 6 i 15 znakova.</p>
            </fieldset>

            <fieldset class="form-group" ng-class="{ 'has-error' : userForm.telefon.$invalid && !userForm.contactNumber.$pristine }">
                <label>Kontakt telefon</label>
                <input type="number" name="contactNumber" class="form-control" ng-model="c.user.contactNumber">
                <p ng-show="userForm.contactNumber.$invalid && !userForm.contactNumber.$pristine" class="help-block">Uneseni kontakt je u neispravnom formatu</p>
            </fieldset>

            <fieldset  ng-if="c.chooseCounty" class="form-group">
                <label>Županija</label><br>
                <select ng-click="c.findCities(c.user.location.county)" ng-model="c.user.location.county" name="county" >
                    <option value="" selected>Odaberite</option>
                    <option value="{{county.name}}" ng-repeat="county in c.counties">{{county.name}}</option>
                </select>
            </fieldset>

            <fieldset ng-if="c.chooseCity" class="form-group">
                <label>Grad/općina</label><br>
                <select ng-model="c.user.location.city" name="city">
                    <option value="" selected>Odaberite</option>
                    <option value="{{city.name}}" ng-repeat="city in c.cities">{{city.name}}</option>
                </select>
            </fieldset>

            <div id="register_msg" ng-show="c.registerStatus.message"
                 ng-class="c.registerStatus.status == 'OK' ? 'alert alert-success' : 'alert alert-warning'">
                {{c.registerStatus.message}}
            </div>

            <button type="submit" class="btn btn-secondary" ng-disabled="userForm.$invalid">Registracija</button>

        </form>

        <aside>
            <h5>Već imaš profil?<br><br><a class="link" ui-sref = "login">Prijavi se »</a></h5>
            <p>Registracija je iznimno kratka i jednostavna. <br>Registracijom dobijaš mogućnost objavljivanja oglasa, ali i spremanje omiljenih oglasa za kasnije.<br>Sve to potupno besplatno i bez reklama.</p>
        </aside>
        <br style="clear: both"/>
    </div>

</div>

